/* ===================================================== */
/*                  	 Imports                         */
/* ===================================================== */
    @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
    @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);
    @import url(http://fonts.googleapis.com/css?family=Gafata);

/* ===================================================== */
/*                  	 Style Reset                     */
/* ===================================================== */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        word-wrap: break-word;
    }

    th,td{
        word-wrap: break-word;
    }

    textarea{
        vertical-align: middle;
        resize:vertical;
    }

/* ===================================================== */
/*                 Standard Html Tags                    */
/* ===================================================== */

    body {
        font-family:  'Source Sans Pro', sans-serif;
        color: black;
        font-size: 12px;
        line-height:1;
    }
    h1, h2, h3{margin: 5px 0; text-align:center; font-size:1.15em;}

    h1 {color: black; border-bottom: 1px solid #797979;}
    h2 {color: black;}
    h3 {
        font:bold 14px Arial;
        border-bottom: 1px solid #444;
        padding-bottom: 10px;
        color: #fff;
    }

    a, .link {color: #336699; text-decoration: none;}

    img{ vertical-align: middle;}

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #aaa;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #aaa;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #aaa;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #aaa;
    }


/* ===================================================== */
/*                       Header                          */
/* ===================================================== */
    header{
        height:40px;
        text-align: left;
        width: 100%;
        border-bottom:1px solid #aaa;
        background: #E0E0E3 url(../images/sidebar.png) repeat;
    }

    nav ul{
        display:inline-block;
        text-align:center;
        border-left: 1px solid #bbb;
        border-right: 1px solid #eee;
    }

    nav ul li{
        float: left;
        border-left: 1px solid #eee;
        border-right: 1px solid #bbb;
        position: relative;
    }

    nav ul li a{
        padding: 14px;
        display: inline-block;
        color: #333;
        font-weight: 700;
        vertical-align: middle;
    }

    nav ul li a.active{
        background:#ececef;
    }

    nav ul li:hover{
        background: #e9e9e9;
    }

    nav ul li a:hover{
        text-decoration: none;
    }

/* ===================================================== */
/*                  Application Layout                   */
/* ===================================================== */

    #flash {
        position: absolute;
        top: 47px;
        width: 960px;
        left: 50%;
        margin-left: -490px;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #bbb;
        text-align: center;
        background: url(../images/flash-bg.png) 50% 50%;
        color: #333;
    }

    .hover { background-color: #eee; }

    #content{
        min-height:400px;
    }

    caption, h2{
        padding: 10px;
        border-top: 1px solid #aaa;
        background: #ddd;
        text-align: left;
    }

    .tableWrapper{
        /*overflow-x: hidden;*/
        border-top: 1px dashed #ccc;
        margin-top: 10px;
    }

    th{
        vertical-align: middle;
        padding:10px;
        border-right:1px solid #999;
        border-left:1px solid #bbb;
    }

    td{
        vertical-align: middle;
        padding:10px;
        border-right:1px solid #ccc;
        border-bottom:1px solid #ccc;
        cursor:pointer;
        text-align: center;
    }

    table>tbody>tr>td {
        height: 100%;
    }

    .activeField{
        background:yellow;
        cursor:default;
    }

    .activeField:hover{
        background:yellow;
    }

    thead th{
        border-bottom: 1px solid #999;
        border-top: 1px solid #999;
        /*background-color:#f2f2f2;*/
        background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
        background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(230,230,230,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(230,230,230,1)));
        background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%);
        background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%);
        background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%);
        background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#0f0f0f',GradientType=0 );
    }

    #editPanel{
        display:none;
        position:absolute;
        background: white;
        width: 245px;
        border: 1px solid #aaa;
        text-align: center;
        padding-top:10px;
    }

    #editPanel span{
        display:block;
        margin-top:10px;
        padding: 7px;
        border-top: 1px solid #bbb;
        cursor: pointer;
        background: -moz-linear-gradient(top, rgba(200,200,200,0.4) 0%, rgba(150,150,150,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,0.4)), color-stop(100%,rgba(150,150,150,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(200,200,200,0.4) 0%,rgba(150,150,150,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(200,200,200,0.4) 0%,rgba(150,150,150,0.4) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(200,200,200,0.4) 0%,rgba(150,150,150,0.4) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(200,200,200,0.4) 0%,rgba(150,150,150,0.4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
    }

    #editPanel span:hover{
        background:#eee;
    }

    #editPanel input{
        padding: 5px 0;
    }

    #optionPanel{
        text-align: right;
    }

    #optionPanel span, #optionPanel a{
        display: inline-block;
        padding: 10px 20px;
        background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
        margin: 5px 1px;
        cursor:pointer;
        border: 1px solid #999;
    }

    #optionPanel span:hover, #optionPanel a:hover{
        background: #F1F1F4 url(../images/secondary_bar-hover.png) repeat-x;
    }

    /* ===================================================== */
    /*                     Workers Page                      */

        #addWorker, #addEntry, #addException, #addAdmin{
            display:none;
            margin-bottom:15px;
        }

        .standardForm input, .standardForm textarea, .standardForm select{
            width:100%;
        }

        .standardForm td{
            cursor:default;
        }

        .standardForm tr:last-child td{
            border-bottom:1px solid #aaa;
        }

        .standardForm .element{
            margin-top:20px;
        }

        .standardForm .element:first-of-type{
            margin-top:5px;
        }

    /* ===================================================== */
    /*                     Schedule Page                     */

        #calendar{
            margin: 20px auto;
            padding: 10px;
            width: 210px;
        }

        #dateRange h2{
            border-bottom: 1px solid #aaa;
            margin-bottom: 20px;
        }

        #dateRange{
            text-align:center;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #aaa;
        }

        #dateRange span{
            margin-left:10px;
        }

        .scheduleTable td{
            padding:0;
        }


        .entry{
            padding:10px 0;
            vertical-align: middle;
            border-bottom: 1px solid #ccc;
            display: inline-block;
            width:100%;
            word-wrap: break-word;
        }

        .entry.highlighted{
            background:#ddd;
        }

        .entry:last-of-type{
            border-bottom:none;
        }

        .schedulePage #editPanel span{
            width: 49%;
            float: left;
            margin-top:20px;
            padding: 9px 0;
            border-right: 1px solid #bbb;
            border-top: 1px solid #bbb;
            cursor: pointer;
        }

        .schedulePage #editPanel span:last-child{
            float:right;
            border-right:none;
            border-left:1px solid #bbb;
        }

    /* ===================================================== */
    /*                     Login Page                     */

        #login{
            width: 400px;
            margin: 75px auto;
        }

        #login h1{
            margin: 0 0 20px 0;
            font: normal 18px 'Gafata', sans-serif;
            padding: 10px 30px;
            text-align: left;
            background: white url(../images/house.png) left center no-repeat;
            border-bottom: 1px dashed #ccc;
        }

        #login input,#login select,#login textarea {
            padding: 10px 0;
            width: 385px;
            margin-top: 10px;
            text-indent: 7px;
            border-radius:5px;
            border: 1px solid #bbb;
            outline: none;
            font: normal 11px Arial, Helvetica, sans-serif;
            color: black;box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        }

        #login input[type="checkbox"]{
            box-shadow: none;
        }

        #login .element{
            padding: 5px;
        }

        #login input[type="submit"]{
            border: 1px solid #ccc;
            cursor:pointer;
            border-radius:0;
            box-shadow: none;
            margin:10px 0 0 0 ;
            width:100%;
            background:url(../images/btn_submit_2.png);
            transition: background 500ms linear;
        }

        #login input[type="submit"]:hover{
            background:url(../images/btn_submit_2-hover.png);
        }

        #login label{
            padding-bottom:5px;
        }

        #login input:focus,#login textarea:focus{
            border: 1px solid #77BACE;
            box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        }

/* ===================================================== */
/*                    Common Classes                     */

    .invisible{display:none;}
    .blackBorder{border-right:2px solid #777}
    .button{
        padding: 8px 20px;
        background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
        cursor: pointer;
        border: 1px solid #999;
    }

    .button:hover{
        background: #F1F1F4 url(../images/secondary_bar-hover.png) repeat-x;
    }